{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "jsx-a11y",
    "react-refresh"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended"
  ]
}
